body {
    font-family: Segoe UI, Verdana, Arial;
    margin: 0 0 15pt 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header {
    white-space: normal;
    word-break: break-word;
}

.header img {
    height: 24pt;
    margin: 0 3.75pt 0 3.75pt;
    vertical-align: middle;
    width: 24pt;
}

.header-bottom {
    margin: 0;
    padding: 0 0 7pt 15pt;
}

.header-bottom img {
    height: 9pt;
    width: 9pt;
}

header table { margin: 7.5pt 7.5pt 0 7.5pt; }

header table td {
    background: transparent;
    border: none;
    padding: 0;
    white-space: inherit;
}

header table td img {
    max-height: 50pt;
    vertical-align: middle;
    width: auto;
}

ul { margin: 0 0 0 -18.75pt; }

ul.hidden { display: none; }

li { display: block; }

h2 { margin: 11.25pt 15pt 7.5pt 15pt; }

h2 img { height: 9pt; }

section { margin-bottom: 10pt; }

#pagebody { position: relative; }

#pagebody a { margin-left: 15pt; }

#pagebody td a { margin: 0; }

td img {
    display: block;
    height: 12pt;
    margin-left: 0;
    width: 12pt;
}

.toggle, .colExpToc, #toggleAllImage { cursor: pointer; }

#collapseImage, #expandImage { display: none; }

p {
    margin: 0 11.25pt 0 15pt;
    overflow-wrap: break-word;
    white-space: pre;
}

table {
    display: block;
    margin: 0 15pt 0 13.75pt;
    overflow: auto;
}

.property-table { width: auto; }

td {
    background: #f7f7ff;
    white-space: pre;
    word-wrap: break-word;
}

.total-counter {
    margin: 3.75pt 11.25pt 3.75pt 8.25pt;
    padding: 3.75pt 11.25pt 3.75pt 11.25pt;
}

#segments {
    background-color: #f7f7ff !important;
    border: .75pt solid #d5d5d3;
    float: none !important;
    font-family: Consolas;
    line-height: normal !important;
    margin: 0 15pt 0 15pt;
    padding: 3.75pt;
    white-space: pre-wrap !important;
}

#segments span { background-color: #f7f7ff !important; }

footer {
    background: white;
    bottom: 0;
    padding-bottom: 2.5pt;
    position: fixed;
    width: 100%;
}

footer table { margin: 0 7.5pt 7.5pt 7.5pt; }

footer table td {
    background: transparent;
    border: none;
    padding: 0;
    white-space: inherit;
}

footer table td img {
    max-height: 50pt;
    vertical-align: middle;
    width: auto;
}header {
    border-bottom: .75pt solid #d5d5d3;
    margin-bottom: 7.5pt;
}

.header {
    color: #4d82b8;
    font-size: 21pt;
    font-weight: 100;
    margin-left: 7.5pt;
    padding: 11.25pt 0 11.25pt 0;
}

.header-bottom p { font-size: 8.25pt; }

.header-bottom img {
    height: 8.25pt;
    padding-right: 1.75pt;
    width: 12pt;
}

label { font-size: 9pt; }

li { padding-bottom: 2.25pt; }

#pagebody td a, li a, p, .total-counter { font-size: 9.25pt; }

h2 {
    border-bottom: solid .75pt #d5d5d3;
    border-top: solid .75pt #d5d5d3;
    color: #003366;
    font-size: 12pt;
    font-weight: normal;
    margin: 11.25pt 15pt 7.5pt 15pt;
    padding: 3.75pt 0 3.75pt 0;
}

h2 img {
    padding-right: 3.75pt;
    width: 13pt;
}

a {
    color: #4d82b8;
    text-decoration: none;
}

a:hover { color: #4fabff; }

#pagebody a {
    font-size: 9pt;
    font-weight: bold;
}

#pagebody td a {
    font-size: 9.75pt;
    font-weight: normal;
}

#pagebody td a { font-size: 9.75pt; }

table {
    border-collapse: collapse;
    margin: 0 15pt 0 15pt;
}

td {
    border: .75pt solid #d5d5d3;
    font-size: 9.75pt;
    padding: 3.75pt;
}

thead td {
    background: #4d82b8;
    border: .75pt solid #4d82b8;
    color: #fff;
    font-size: 13.5pt;
    text-align: left;
}

header, h2 { background-color: #f7f7ff; }.custom-header {
  color: #808080;
  font-family: Segoe UI;
  font-size: medium;
  text-align: Center;
}

.custom-footer {
  color: #808080;
  font-family: Segoe UI;
  font-size: medium;
  text-align: Center;
}

